@{
    ViewBag.Title = "About";
}


<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">About</li>
        </ul>
    </div>
</div>