@model dynamic

@{
    ViewBag.Title = "History";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Elite F.C. Seasons Timeline</h3>
            <p>
                Elite F.C. is a minifootaball team created in August 2013. Until now, the team is two-times crowned as a Champion, once Vice Champion and once winner of PASO Cup. Furthermore our players have plenty individual awards. Three of our defenders are awarded with "Best Defender of the season" award. Hristo Borisov has two of them.

                Our attacking squad also won servial awards. Ivan Dimitrov won award for "Best Assistant", Vasil Nikolov was "Goalscorer" in 2014, and "Best Striker" and "Goalscorer" in 2016.
            </p>
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/Content/Images/history/footballTeamSystem_13-14.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Season 2013/2014</h4>
                            <h4 class="subheading">Third place in Pulpudeva</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                            In our first season the team played well but, unfortunately made some crucial mistakes that led us to third place. Vasil Nikolov was awarded for "League Goalscorer".
                            </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/Content/Images/history/footballTeamSystem_14-15.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Season 2014/2015</h4>
                            <h4 class="subheading">Champion of Evmolpia</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                In second season of our history we played very well, fast and attractive football. The team learned from its mistakes and won first place in the league. Our captain Aleksandar Mitev was choosen for "Best Defender in League", Ivan Dimitrov was "Assisstent of the season" and Vasil Nikolov was the "Goalscorer".                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/Content/Images/history/footballTeamSystem_15-16.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Season 2015/2016</h4>
                            <h4 class="subheading">Winner of PASO Cup & Vice Champion of Pulpudeva</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                In season of 2015 we have made some changes of our squad. The team played good but not enough to win all of its fixtures. Some mistakes in big games led the team to second place in the league. On the other hand we kept our concentration in matches for the cup, crushing all oponents and picked up the title.                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="/Content/Images/history/footballTeamSystem_16-17.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Season 2016/2017</h4>
                            <h4 class="subheading">Champion of Pulpudeva</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Season of 2016 was one of the best in our history. The team was so strong that no one can conquer us for the first place. The team secure its first place 5 legs before end of the season. Peter Penev was choosen for "Best Defender of the league".
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>