@using FootballTeamSystem.Controllers
@model FootballTeamSystem.ViewModels.HomeViewModel

@{

    ViewBag.Title = "Home Page";
}

<!-- Page Content -->
<div class="container">
    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="./content/images/footbalTeamSystem-frontpage.jpg" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Welcome!</h1>
            <p>Elite F.C. is a minifootaball team created in August 2013 by few friends, inloved with the game. Until now, the team is two-times crowned as a Champion, twice Vice Chanpion and once winner of PASO Cup.</p>
            <a class="btn btn-primary btn-lg" href="../players">View Team Roster</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                This is a well that is a great spot for a business tagline or phone number for easy access!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>History</h2>
            <img class="img-responsive img-rounded"  src="./content/images/footballTeamSystem-history.jpg">
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Latest News</h2>
            <a href="./posts"> <img class="img-responsive img-rounded" src="./content/images/footballTeamSystem-news.jpg"></a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Latest  Matches</h2>
            <a href="./results"><img class="img-responsive img-rounded" src="./content/images/footballTeamSystem-results.jpg"></a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->