body {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.8;
    padding-top: 50px;
    padding-bottom: 20px;
}

hr, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

.well .lead {
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-weight: 700;
    font-size: 28px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#postTextArea {
    height: 300px;
}

#createPost {
    margin: 20px;
}

.thumbnail {
    min-width: 550px;
    min-height: 370px;
}

.postImage {
    max-height: 300px;
    margin: 0 auto;
}

.postDescription {
    margin-left: 160px;
}

.breadcrumb {
    margin-top: 15px;
}

.postImage-details {
    margin: 20px;
    max-width: 350px;
    max-height: 350px;
}

#comments  li {
    list-style: none;
}